{% extends "web_api/base.html"%} {%block content%}
<img src="{{personajes.image}}" alt="personaje image">
<h1>Personaje: {{personajes.name}}</h1>
<p>Estado: {{personajes.status}}</p>
<p>Genero: {{personajes.gender}}</p>
<p>Especie: {{personajes.species}}</p>
<p>Lugar de origen: {% if personajes.origen.id %} <a href="{% url 'lugar' loc_id=personajes.origen.id %}"> {% else %} <a href="#"> {% endif %} {{personajes.origen.name}}</a> </p>
<p>Lugar actual: {% if personajes.lugar.id %}<a href="{% url 'lugar' loc_id=personajes.lugar.id %}"> {% else %} <a href="#"> {% endif %} {{personajes.lugar.name}}</a></p>
<p>Episodios en los que aparece:</p>
<ul class="list-group">
    {% for ep in personajes.episodios %}

    <a href="{% url 'episodio' ep_id=ep.id %}" class="list-group-item list-group-item-action">
        <h1>Episodio {{ep.id}}: {{ep.name}}</h1>
    </a>
</ul>


{% endfor %}{%endblock content%}